<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
		link(rel="stylesheet", href="/css/style.css")
	body
		ul.pero
			each val in mojePolje
				li= val.name
		
		span Ovo je neki span

		ul.marko
			li asdasd
			li
				| asd
				span asda
				| sdgdfg
			li gfdgdfg
